* {
    box-sizing: border-box;

}
#titre{
    top: 1px;
    position: absolute;
    text-align: center;
}

body {
    background-color: pink;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa, 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    min-height: 100vh;
}

#themes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    
}

.quiz-container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px 2px rgb(100, 100, 100, 0.1);
    overflow: hidden;
    width: 450px;
    max-width: 90%;
    /*position: relative;
    display: inline-block;*/
    
    
}

.quiz-header {
    padding: 4rem;
}
h1{
    text-align: center;
    color: #732d91;
    font-size: 5rem;
    z-index: 1; 
}
h2 {
    text-align: center;
    margin: 0;
    /*padding: 1rem;*/
    
}
h3{
    text-align: center;
    margin: 0;
    padding: 1rem;
     
}

ul {
    list-style: none;
    padding: 0;

}

ul li {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 0;
}

button {
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover {
    background-color: #732d91;

}

button:focus {
    background-color: #5e3370;
    outline: none;
}


